<div class="row">
	<div class="col-md-4">
		<div class="tile dark-blue checklist-tile" style="height: 370px">
            <h4><i class="fa fa-check-square-o"></i> Lista de meses adeudados</h4>
            <div class="checklist" id="checklists" data-path="{{path('adeudados_meses')}}">
            </div>
        </div>
	</div>
	<div class="col-md-8">
		<table class="table table-striped table-bordered table-hover table-green" id="pagoMes">
			<thead>
				<tr>
					<th>Meses a pagar</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
		<button id="AñadirMes" class="btn btn-blue btn-square"> <span class="fa fa-refresh"></span> Actualizar tabla</button>
		<button id="PagarMes" data-path="{{path('pago_meses')}}" class="btn btn-blue btn-square"> <span class="fa fa-money"></span> Pagar</button>
		<input type="hidden" id="demo"  data-array=" "  data-total=" "/>
		<div id="carga"></div>
	</div>

</div>
						