{% extends 'SeguroBundle:Default:principal.html.twig' %}
{% block contentPage %}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Registrar Meses</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-th"></i><a href=""> Mes</a>
                    </li>
                    <li class="active">Registrar</li>
                </ol>
            </div>
        </div>
    </div>
   
    <div class="row"> 
    {{ include('SeguroBundle:mensaje:mensaje.html.twig') }}
    <form action="{{path('nuevo_meses')}}" method="post" >
        <div class="form-group">
            <label>Meses</label>
            <div class="row">
            <div class="col-md-2">
              <span class="text-success">  De: </span>
              <input type="text"  class="form-control" value="Enero"  disabled="true">  
            </div>
            <div class="col-md-2">
              <span class="text-success"> A: </span>
              <input type="text"  class="form-control" value="Diciembre"  disabled="true">  
            </div>
            </div>
        </div>
        <div class="form-group">
            <label>Año</label>
            <input type="text"  class="form-control" name="year" value="{{'now'|date('Y') }}" disabled="true" > 
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" name="valor" placeholder="Ingrese valor">
          {% for flashMessage in app.session.flashbag.get('xnumero') %}
          <span class="text-red">  * {{ flashMessage }}  </span>
          {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-md btn-green">Registrar</button>
    </form>
    </div>
</div>    
{% endblock %}