<div class="row" id="cntAllReunion" data-path="{{path('pago_reunion')}}">
	<div class="col-md-1"></div>
	<div class="col-md-10" id="ctnTableReunion" data-path="{{path('adeudadas_reuniones')}}">
		<table class="table table-striped table-bordered table-hover table-green" id="pagoReunion">
			<thead>
				<tr>
					<th>Temas</th>
					<th class="text-center">Fecha de reunión</th>
					<th class="text-center">Valor reunión</th>
					<th class="text-center">Acción</th>
				</tr>
			</thead>
			<tbody >
				<tr> </tr>   
			</tbody>
		</table>
		<div id="contentEvent"></div>
		<div id="loadingReunion"></div>
	</div>
	<div class="col-md-1"></div>
</div>
		